@page
@model covidipedia.front.src.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/src/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>AppUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.LoginName" class="control-label"></label>
                <input asp-for="Input.LoginName" class="form-control" />
                <span asp-validation-for="Input.LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password" class="control-label"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.RPPS" class="control-label"></label>
                <input asp-for="Input.RPPS" class="form-control" />
                <span asp-validation-for="Input.RPPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
