@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/lib/chartjs/Chart.css" />
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
    <link rel="stylesheet" href="~/css/slider.css" type="text/css" />
    <link href="~/css/calendar.css" rel="stylesheet" />
</head>

<body>
    <div>
    <table class="table">
        <form>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        Date<input type="text" id="datePicker">
                        <span id="calendar"></span>
                    </th>
                    <th scope="col">
                        Place <select id="country" name="country">
                            <option value="fr">France</option>
                            <option value="uk">Royaume-Unis</option>
                            <option value="it">Italie</option>
                        </select> <select id="Region" name="Region">
                            <option value="idf">Ile-de-France</option>
                            <option value="sud">Sud</option>
                            <option value="ge">Grand Est</option>
                        </select>
                    </th>
                </tr>
            </thead>
        </form>
</div>

   

    <script src="~/js/index.js"></script>
    <script src="~/lib/chartjs/Chart.min.js" asp-append-version="true"></script>
    <script src="~/js/calendar.js"></script>
    <script>
        var trigger = document.querySelector('#datePicker');
        var dateComponent = new DatePicker({
            el: document.querySelector('#calendar'),
            trigger: trigger,
            onchange: function (curr) {
                trigger.value = curr;
            }
        });

        trigger.onfocus = function () {
            dateComponent.show();
        };
    </script>

</body>