@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/lib/chartjs/Chart.css" />
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
    <link rel="stylesheet" href="~/css/slider.css" type="text/css" />
</head>

<body>
    <div class="graph-selection">
        <h3 class=graph-title>Choisissez les jeux de données à afficher:</h3>
        <div class="checkboxes">

            <div class="toggle">
                <label class="switch-text">Sales by Countries</label>
                <label class="switch">
                    <input type="checkbox" id="checkbox-sales-countries" checked>
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="toggle">
                <label class="switch-text">Discount by Countries</label>
                <label class="switch">
                    <input type="checkbox" id="checkbox-discount-countries" checked>
                    <span class="slider round"></span>
                </label>
            </div>

            <div class="toggle">
                <label class="switch-text">Profit per month</label>
                <label class="switch">
                    <input type="checkbox" id="checkbox-profit-month" checked>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>

    <div class="graph-printing">

        <div id="frame" class="count-vaccin-1">
            <canvas id="chart-count-vaccin-1"></canvas>
        </div>
        <div id="frame" class="count-vaccin-2">
            <canvas id="chart-count-vaccin-2"></canvas>
        </div>
    </div>

    <script> //Script Graph 1: Sales by Countries
        document.addEventListener('DOMContentLoaded', (event) => {

            var context = document.getElementById('chart-count-vaccin-1');
            var myChart = new Chart(context, @Html.Raw(Model._chartSalesCountries.ChartJson));
            var context2 = document.getElementById('chart-count-vaccin-2');
            var myChart2 = new Chart(context2, @Html.Raw(Model._chartSalesCountries.ChartJson2));
        });
    </script>

    <script src="~/js/index.js"></script>
    <script src="~/lib/chartjs/Chart.min.js" asp-append-version="true"></script>


</body>