@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <iframe class="d-block w-100" width="100%" height="612"
                    src="https://app.powerbi.com/view?r=eyJrIjoiNTMzMjZhZWMtYjg2OC00ZGQzLWFmYTYtYWQyNDU2YThiNzU3IiwidCI6Ijg5NzM0Mjg5LWEzY2YtNDA1Mi05MDIxLTE5NWE3YmJhNDk5MiIsImMiOjh9&pageName=ReportSection"
                    style="position:absolute;clip:rect(10px,190px,190px,10px);" frameborder="0"
                    allowFullScreen="true"></iframe>
            </div>
            <div class="carousel-item">
                <<iframe width="600" height="373.5"
                    src="https://app.powerbi.com/view?r=eyJrIjoiNzhiOTgzNTEtYzU4Yi00MGM0LTk4YmUtMDQ5ZmFkZmY5Yjc0IiwidCI6Ijg5NzM0Mjg5LWEzY2YtNDA1Mi05MDIxLTE5NWE3YmJhNDk5MiIsImMiOjh9"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="carousel-item">
                <iframe width="600" height="373.5"
                    src="https://app.powerbi.com/view?r=eyJrIjoiNTc1NDQxZWQtNzk2ZS00MzJkLWFjNDEtZTQ1OWFmYmU3Mjk3IiwidCI6Ijg5NzM0Mjg5LWEzY2YtNDA1Mi05MDIxLTE5NWE3YmJhNDk5MiIsImMiOjh9"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
            <div class="carousel-item">
                <iframe width="600" height="373.5"
                    src="https://app.powerbi.com/view?r=eyJrIjoiOGY3MGU5NjMtMWVkYy00MzgxLTk4YTctZjU0N2NhZDk4OWY1IiwidCI6Ijg5NzM0Mjg5LWEzY2YtNDA1Mi05MDIxLTE5NWE3YmJhNDk5MiIsImMiOjh9"
                    frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!--<iframe width="100%" height="612"
        src="https://app.powerbi.com/view?r=eyJrIjoiNTMzMjZhZWMtYjg2OC00ZGQzLWFmYTYtYWQyNDU2YThiNzU3IiwidCI6Ijg5NzM0Mjg5LWEzY2YtNDA1Mi05MDIxLTE5NWE3YmJhNDk5MiIsImMiOjh9&pageName=ReportSection"
        style="position:absolute;clip:rect(10px,190px,190px,10px);" frameborder="0" allowFullScreen="true"></iframe>
    <iframe width="600" height="373.5"
        src="https://app.powerbi.com/view?r=eyJrIjoiNzhiOTgzNTEtYzU4Yi00MGM0LTk4YmUtMDQ5ZmFkZmY5Yjc0IiwidCI6Ijg5NzM0Mjg5LWEzY2YtNDA1Mi05MDIxLTE5NWE3YmJhNDk5MiIsImMiOjh9"
        frameborder="0" allowFullScreen="true"></iframe>-->
</div>
