@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
</head>

<body>

    <div class="splashscreen-text">
        <p>Bienvenue sur Covidipédia! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>


    <div class="graph-selection">
        <h3 class= graph-title> Graphiques à afficher:</h3>
        <div class="checkboxes">
            <label>Sales by Countries
                <input type="checkbox" id="checkbox-sales-countries" checked="checked">
                <span></span>
            </label>

            <label>Discount by Countries
                <input type="checkbox" id="checkbox-discount-countries" checked="checked">
                <span></span>
            </label>

            <label>Profit per Month
                <input type="checkbox" id="checkbox-profit-month" checked="checked">
                <span></span>
            </label>
        </div>
    </div>

    <div class="graph-printing">

        <iframe id="frame" class="sales-countries" width="45%" height="373.5"
                    src="https://app.powerbi.com/view?r=eyJrIjoiNzhiOTgzNTEtYzU4Yi00MGM0LTk4YmUtMDQ5ZmFkZmY5Yjc0IiwidCI6Ijg5NzM0Mjg5LWEzY2YtNDA1Mi05MDIxLTE5NWE3YmJhNDk5MiIsImMiOjh9"
                    frameborder="0" allowFullScreen="true"></iframe>

        <iframe id="frame" class="discount-countries" width="45%" height="373.5"
                    src="https://app.powerbi.com/view?r=eyJrIjoiNTc1NDQxZWQtNzk2ZS00MzJkLWFjNDEtZTQ1OWFmYmU3Mjk3IiwidCI6Ijg5NzM0Mjg5LWEzY2YtNDA1Mi05MDIxLTE5NWE3YmJhNDk5MiIsImMiOjh9"
                    frameborder="0" allowFullScreen="true"></iframe>
        
        <iframe id="frame" class="profit-month" width="45%" height="373.5"
                    src="https://app.powerbi.com/view?r=eyJrIjoiOGY3MGU5NjMtMWVkYy00MzgxLTk4YTctZjU0N2NhZDk4OWY1IiwidCI6Ijg5NzM0Mjg5LWEzY2YtNDA1Mi05MDIxLTE5NWE3YmJhNDk5MiIsImMiOjh9"
                    frameborder="0" allowFullScreen="true"></iframe>

    </div>

    <script src="~/js/index.js"></script>

</body>