@model QueryModel

<head>
    <link href="~/css/partialviewquery.css" rel="stylesheet" />
</head>

<!-- TODO: Régler Internal Server Error when a null DateTime/int is sent -->

<body>
    <div id="no-main-criteria" class="extended-form">
        <p class="advanced-criterias">Please select a main criteria first!</p>
    </div>




    <div id="criteria-cas-personne" class="extended-form" hidden>
        <p class="advanced-criterias">Critères avancés:</p>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-age-cas">Age minimum des personnes: </label>
                <input asp-for="input.casPersonneQuery.age[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-age-cas" onchange="document.getElementById('input-maximum-age-cas').min=this.value; document.getElementById('input-maximum-age-cas').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-age-cas">Age maximal des personnes: </label>
                <input asp-for="input.casPersonneQuery.age[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-age-cas"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_ethnicOrigin">Groupe Ethnique: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.ethnicOrigin" id="input-type-ethnie-cas"/>
            </div>
            <div class="select-inf">
                <label class="partial-view-label" for="select-gender-cas">Recherche par Sexe: </label>
                <select asp-for="input.casPersonneQuery.personGender" name="select-gender-cas" id="select-gender-cas" class="select-partial-view"> 
                    <option disabled selected>Choisissez le sexe recherché</option>
                    <option value="true">Homme</option>
                    <option value="false">Femme</option>
                </select>
            </div>
        </div>

        <div class="range-date">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-date-vaccin-1">Date de 1er vaccin minimale: </label>
                <input asp-for="input.casPersonneQuery.vaccinDate1[0]" type="date" min="2017-01-01" value="2017-01-01" class="input-date" id="input-minimum-date-vaccin-1" onchange="document.getElementById('input-maximum-date-vaccin-1').min=this.value; document.getElementById('input-maximum-date-vaccin-1').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-date-vaccin-1">Date de 1er vaccin maximale: </label>
                <input asp-for="input.casPersonneQuery.vaccinDate1[1]" type="date" min="2017-01-01" value="2017-01-01" class="input-date" id="input-maximum-date-vaccin-1"/>
            </div>
        </div>

        <div class="range-date">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-date-vaccin-2">Date de 2nd vaccin minimale: </label>
                <input asp-for="input.casPersonneQuery.vaccinDate2[0]" type="date" min="2017-01-01" value="2017-01-01" class="input-date" id="input-minimum-date-vaccin-2" onchange="document.getElementById('input-maximum-date-vaccin-2').min=this.value; document.getElementById('input-maximum-date-vaccin-2').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-date-vaccin-2">Date de 2nd vaccin maximale: </label>
                <input asp-for="input.casPersonneQuery.vaccinDate2[1]" type="date" min="2017-01-01" value="2017-01-01" class="input-date" id="input-maximum-date-vaccin-2"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_vaccinNameTypeManufacturer[0]">Nom de vaccin: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.vaccinNameTypeManufacturer[0]" id="input-name-vaccin-cas"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_vaccinNameTypeManufacturer[1]">Type du vaccin: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.vaccinNameTypeManufacturer[1]" id="input-type-vaccin-cas"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_vaccinNameTypeManufacturer[2]">Fabricant du vaccin: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.vaccinNameTypeManufacturer[2]" id="input-manufacturer-vaccin-cas"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_effetNameType[0]">Nom d'Effet Secondaire: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.effetNameType[0]" id="input-name-effet-cas"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_effetNameType[1]">Type d'Effet Secondaire: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.effetNameType[1]" id="input-type-effet-cas"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_region">Nom de Region: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.region" id="input-name-region-cas"/>
            </div>
            <div class="select-inf">
                <label class="partial-view-label" for="select-department-cas">Recherche par Département: </label>
                <select asp-for="input.casPersonneQuery.department" name="select-department-cas" id="select-department-cas" class="select-partial-view"> 
                    <option disabled selected>Choisissez le département recherché: </option>
                    <option value="01">Ain</option>
                    <option value="02">Aisne</option>
                    <option value="03">Allier</option>
                    <option value="04">Alpes-de-Haute-Provence</option>
                    <option value="05">Hautes-Alpes</option>
                    <option value="06">Alpes-Maritimes</option>
                    <option value="07">Ardèche</option>
                    <option value="08">Ardennes</option>
                    <option value="09">Ariège</option>
                    <option value="10">Aube</option>
                    <option value="11">Aude</option>
                    <option value="12">Aveyron</option>
                    <option value="13">Bouches-du-Rhône</option>
                    <option value="14">Calvados</option>
                    <option value="15">Cantal</option>
                    <option value="16">Charente</option>
                    <option value="17">Charente-Maritime</option>
                    <option value="18">Cher</option>
                    <option value="19">Corrèze</option>
                    <option value="20">Corse</option>
                    <option value="21">Côte-d'Or</option>
                    <option value="22">Côtes d'Armor</option>
                    <option value="23">Creuse</option>
                    <option value="24">Dordogne</option>
                    <option value="25">Doubs</option>
                    <option value="26">Drôme</option>
                    <option value="27">Eure</option>
                    <option value="28">Eure-et-Loir</option>
                    <option value="29">Finistère</option>
                    <option value="30">Gard</option>
                    <option value="31">Haute-Garonne</option>
                    <option value="32">Gers</option>
                    <option value="33">Gironde</option>
                    <option value="34">Hérault</option>
                    <option value="35">Ille-et-Vilaine</option>
                    <option value="36">Indre</option>
                    <option value="37">Indre-et-Loire</option>
                    <option value="38">Isère</option>
                    <option value="39">Jura</option>
                    <option value="40">Landes</option>
                    <option value="41">Loir-et-Cher</option>
                    <option value="42">Loire</option>
                    <option value="43">Haute-Loire</option>
                    <option value="44">Loire-Atlantique</option>
                    <option value="45">Loiret</option>
                    <option value="46">Lot</option>
                    <option value="47">Lot-et-Garonne</option>
                    <option value="48">Lozère</option>
                    <option value="49">Maine-et-Loire</option>
                    <option value="50">Manche</option>
                    <option value="51">Marne</option>
                    <option value="52">Haute-Marne</option>
                    <option value="53">Mayenne</option>
                    <option value="54">Meurthe-et-Moselle</option>
                    <option value="55">Meuse</option>
                    <option value="56">Morbihan</option>
                    <option value="57">Moselle</option>
                    <option value="58">Nièvre</option>
                    <option value="59">Nord</option>
                    <option value="60">Oise</option>
                    <option value="61">Orne</option>
                    <option value="62">Pas-de-Calais</option>
                    <option value="63">Puy-de-Dôme</option>
                    <option value="64">Pyrénées-Atlantiques</option>
                    <option value="65">Hautes-Pyrénées</option>
                    <option value="66">Pyrénées-Orientales</option>
                    <option value="67">Bas-Rhin</option>
                    <option value="68">Haut-Rhin</option>
                    <option value="69">Rhône</option>
                    <option value="70">Haute-Saône</option>
                    <option value="71">Saône-et-Loire</option>
                    <option value="72">Sarthe</option>
                    <option value="73">Savoie</option>
                    <option value="74">Haute-Savoie</option>
                    <option value="75">Paris</option>
                    <option value="76">Seine-Maritime</option>
                    <option value="77">Seine-et-Marne</option>
                    <option value="78">Yvelines</option>
                    <option value="79">Deux-Sèvres</option>
                    <option value="80">Somme</option>
                    <option value="81">Tarn</option>
                    <option value="82">Tarn-et-Garonne</option>
                    <option value="83">Var</option>
                    <option value="84">Vaucluse</option>
                    <option value="85">Vendée</option>
                    <option value="86">Vienne</option>
                    <option value="87">Haute-Vienne</option>
                    <option value="88">Vosges</option>
                    <option value="89">Yonne</option>
                    <option value="90">Territoire de Belfort</option>
                    <option value="91">Essonne</option>
                    <option value="92">Hauts-de-Seine</option>
                    <option value="93">Seine-St-Denis</option>
                    <option value="94">Val-de-Marne</option>
                    <option value="95">Val-D'Oise</option>
                    <option value="971">Guadeloupe</option>
                    <option value="972">Martinique</option>
                    <option value="973">Guyane</option>
                    <option value="974">La Réunion</option>
                    <option value="976">Mayotte</option>
                </select>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_city">Nom de Ville: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.city" id="input-name-city-cas"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_hopitalName">Nom d'hopital': </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.hopitalName" id="input-name-hopital-cas"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_currentState">Etat du Patient: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.currentState" id="input-status-cas"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_virusStrain">Souche du Virus: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.virusStrain" id="input-strain-cas"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_pathologieNameType[0]">Nom de Pathologie: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.pathologieNameType[0]" id="input-name-pathologie-cas"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_pathologieNameType[1]">Type de Pathologie: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.pathologieNameType[1]" id="input-type-pathologie-cas"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_symptomeNameType[0]">Nom de Symptome: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.symptomeNameType[0]" id="input-name-symptome-cas"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_symptomeNameType[1]">Type de Symptome: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.symptomeNameType[1]" id="input-type-symptome-cas"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_traitementNameType[0]">Nom de Traitement: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.traitementNameType[0]" id="input-name-traitement-cas"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_casPersonneQuery_traitementNameType[1]">Type de Traitement: </label>
                <input class="input-type-cas" asp-for="input.casPersonneQuery.traitementNameType[1]" id="input-type-traitement-cas"/>
            </div>
        </div>
    </div>




    <div id="criteria-effets-secondaires" class="extended-form" hidden>
        <p class="advanced-criterias">Critères avancés:</p>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_effetQuery_effetType">Type d'Effet Secondaire: </label>
                <input class="input-type-effet" asp-for="input.effetQuery.effetType" id="input-type-effet"/>
            </div>
            <div class="select-inf">
                <label class="partial-view-label" for="select-gender-effet">Recherche par Sexe: </label>
                <select asp-for="input.effetQuery.personneGender" name="select-gender-effet" id="select-gender-effet" class="select-partial-view"> 
                    <option disabled selected>Choisissez le sexe recherché</option>
                    <option value="true">Homme</option>
                    <option value="false">Femme</option>
                </select>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_effetQuery_vaccinNameTypeManufacturer[0]">Nom de vaccin: </label>
                <input class="input-type-effet" asp-for="input.effetQuery.vaccinNameTypeManufacturer[0]" id="input-name-vaccin-effet"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_effetQuery_vaccinNameTypeManufacturer[1]">Type du vaccin: </label>
                <input class="input-type-effet" asp-for="input.effetQuery.vaccinNameTypeManufacturer[1]" id="input-type-vaccin-effet"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_effetQuery_vaccinNameTypeManufacturer[2]">Fabricant du vaccin: </label>
                <input class="input-type-effet" asp-for="input.effetQuery.vaccinNameTypeManufacturer[2]" id="input-manufacturer-vaccin-effet"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_effetQuery_traitementNameType[0]">Nom de Traitement: </label>
                <input class="input-type-vaccin" asp-for="input.effetQuery.traitementNameType[0]" id="input-name-traitement-effet"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_effetQuery_traitementNameType[1]">Type de Traitement: </label>
                <input class="input-type-vaccin" asp-for="input.effetQuery.traitementNameType[1]" id="input-type-traitement-effet"/>
            </div>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-age">Age minimum des personnes atteintes: </label>
                <input asp-for="input.effetQuery.personneAge[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-age" onchange="document.getElementById('input-maximum-age').min=this.value; document.getElementById('input-maximum-age').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-age">Age maximal des personnes atteintes: </label>
                <input asp-for="input.effetQuery.personneAge[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-age"/>
            </div>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-case">Nombre de cas minimal: </label>
                <input asp-for="input.effetQuery.caseNumber[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-case" onchange="document.getElementById('input-maximum-case').min=this.value; document.getElementById('input-maximum-case').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-case">Nombre de cas maximal: </label>
                <input asp-for="input.effetQuery.caseNumber[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-case"/>
            </div>
        </div>
    </div>




    <div id="criteria-historique" class="extended-form" hidden>
        <p class="advanced-criterias">Critères avancés:</p>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_historiqueQuery_currentState">Etat actuel du patient: </label>
                <input class="input-type-historique" asp-for="input.historiqueQuery.currentState" id="input-status-historique"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_historiqueQuery_virusStrain">Souche du virus: </label>
                <input class="input-type-historique" asp-for="input.historiqueQuery.virusStrain" id="input-strain-historique"/>
            </div>
        </div>

        <div class="range-date">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-date-detection">Date de détection minimale: </label>
                <input asp-for="input.historiqueQuery.detectionDate[0]" type="date" min="2017-01-01" value="2017-01-01" class="input-date" id="input-minimum-date-detection" onchange="document.getElementById('input-maximum-date-detection').min=this.value; document.getElementById('input-maximum-date-detection').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-date-detection">Date de détection maximale: </label>
                <input asp-for="input.historiqueQuery.detectionDate[1]" type="date" min="2017-01-01" value="2017-01-01" class="input-date" id="input-maximum-date-detection"/>
            </div>
        </div>

        <div class="range-date">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-date-maj">Date de MaJ minimale: </label>
                <input asp-for="input.historiqueQuery.majDate[0]" type="date" min="2017-01-01" value="2017-01-01" class="input-date" id="input-minimum-date-maj" onchange="document.getElementById('input-maximum-date-maj').min=this.value; document.getElementById('input-maximum-date-maj').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-date-maj">Date de MaJ maximale: </label>
                <input asp-for="input.historiqueQuery.majDate[1]" type="date" min="2017-01-01" value="2017-01-01" class="input-date" id="input-maximum-date-maj"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_historiqueQuery_pathologieNameType[0]">Nom de la Pathologie: </label>
                <input class="input-type-historique" asp-for="input.historiqueQuery.pathologieNameType[0]" id="input-name-pathologie-historique"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_historiqueQuery_pathologieNameType[1]">Type de la Pathologie: </label>
                <input class="input-type-historique" asp-for="input.historiqueQuery.pathologieNameType[1]" id="input-type-pathologie-historique"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_historiqueQuery_symptomeNameType[0]">Nom du Symptome: </label>
                <input class="input-type-historique" asp-for="input.historiqueQuery.symptomeNameType[0]" id="input-name-symptome-historique"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_historiqueQuery_symptomeNameType[1]">Type du Symptome: </label>
                <input class="input-type-historique" asp-for="input.historiqueQuery.symptomeNameType[1]" id="input-type-symptome-historique"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_historiqueQuery_traitementNameType[0]">Nom du Traitement: </label>
                <input class="input-type-historique" asp-for="input.historiqueQuery.traitementNameType[0]" id="input-name-traitement-historique"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_historiqueQuery_traitementNameType[1]">Type du Traitement: </label>
                <input class="input-type-historique" asp-for="input.historiqueQuery.traitementNameType[1]" id="input-type-traitement-historique"/>
            </div>
        </div>
    </div>




    <div id="criteria-hopital" class="extended-form" hidden>
        <p class="advanced-criterias">Critères avancés:</p>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_hopitalQuery_region">Nom de Region: </label>
                <input class="input-type-hopital" asp-for="input.hopitalQuery.region" id="input-name-region-hopital"/>
            </div>
            <div class="select-inf">
                <label class="partial-view-label" for="select-department-hopital">Recherche par Département: </label>
                <select asp-for="input.hopitalQuery.department" name="select-department-hopital" id="select-department-hopital" class="select-partial-view"> 
                    <option disabled selected>Choisissez le département recherché: </option>
                    <option value="01">Ain</option>
                    <option value="02">Aisne</option>
                    <option value="03">Allier</option>
                    <option value="04">Alpes-de-Haute-Provence</option>
                    <option value="05">Hautes-Alpes</option>
                    <option value="06">Alpes-Maritimes</option>
                    <option value="07">Ardèche</option>
                    <option value="08">Ardennes</option>
                    <option value="09">Ariège</option>
                    <option value="10">Aube</option>
                    <option value="11">Aude</option>
                    <option value="12">Aveyron</option>
                    <option value="13">Bouches-du-Rhône</option>
                    <option value="14">Calvados</option>
                    <option value="15">Cantal</option>
                    <option value="16">Charente</option>
                    <option value="17">Charente-Maritime</option>
                    <option value="18">Cher</option>
                    <option value="19">Corrèze</option>
                    <option value="20">Corse</option>
                    <option value="21">Côte-d'Or</option>
                    <option value="22">Côtes d'Armor</option>
                    <option value="23">Creuse</option>
                    <option value="24">Dordogne</option>
                    <option value="25">Doubs</option>
                    <option value="26">Drôme</option>
                    <option value="27">Eure</option>
                    <option value="28">Eure-et-Loir</option>
                    <option value="29">Finistère</option>
                    <option value="30">Gard</option>
                    <option value="31">Haute-Garonne</option>
                    <option value="32">Gers</option>
                    <option value="33">Gironde</option>
                    <option value="34">Hérault</option>
                    <option value="35">Ille-et-Vilaine</option>
                    <option value="36">Indre</option>
                    <option value="37">Indre-et-Loire</option>
                    <option value="38">Isère</option>
                    <option value="39">Jura</option>
                    <option value="40">Landes</option>
                    <option value="41">Loir-et-Cher</option>
                    <option value="42">Loire</option>
                    <option value="43">Haute-Loire</option>
                    <option value="44">Loire-Atlantique</option>
                    <option value="45">Loiret</option>
                    <option value="46">Lot</option>
                    <option value="47">Lot-et-Garonne</option>
                    <option value="48">Lozère</option>
                    <option value="49">Maine-et-Loire</option>
                    <option value="50">Manche</option>
                    <option value="51">Marne</option>
                    <option value="52">Haute-Marne</option>
                    <option value="53">Mayenne</option>
                    <option value="54">Meurthe-et-Moselle</option>
                    <option value="55">Meuse</option>
                    <option value="56">Morbihan</option>
                    <option value="57">Moselle</option>
                    <option value="58">Nièvre</option>
                    <option value="59">Nord</option>
                    <option value="60">Oise</option>
                    <option value="61">Orne</option>
                    <option value="62">Pas-de-Calais</option>
                    <option value="63">Puy-de-Dôme</option>
                    <option value="64">Pyrénées-Atlantiques</option>
                    <option value="65">Hautes-Pyrénées</option>
                    <option value="66">Pyrénées-Orientales</option>
                    <option value="67">Bas-Rhin</option>
                    <option value="68">Haut-Rhin</option>
                    <option value="69">Rhône</option>
                    <option value="70">Haute-Saône</option>
                    <option value="71">Saône-et-Loire</option>
                    <option value="72">Sarthe</option>
                    <option value="73">Savoie</option>
                    <option value="74">Haute-Savoie</option>
                    <option value="75">Paris</option>
                    <option value="76">Seine-Maritime</option>
                    <option value="77">Seine-et-Marne</option>
                    <option value="78">Yvelines</option>
                    <option value="79">Deux-Sèvres</option>
                    <option value="80">Somme</option>
                    <option value="81">Tarn</option>
                    <option value="82">Tarn-et-Garonne</option>
                    <option value="83">Var</option>
                    <option value="84">Vaucluse</option>
                    <option value="85">Vendée</option>
                    <option value="86">Vienne</option>
                    <option value="87">Haute-Vienne</option>
                    <option value="88">Vosges</option>
                    <option value="89">Yonne</option>
                    <option value="90">Territoire de Belfort</option>
                    <option value="91">Essonne</option>
                    <option value="92">Hauts-de-Seine</option>
                    <option value="93">Seine-St-Denis</option>
                    <option value="94">Val-de-Marne</option>
                    <option value="95">Val-D'Oise</option>
                    <option value="971">Guadeloupe</option>
                    <option value="972">Martinique</option>
                    <option value="973">Guyane</option>
                    <option value="974">La Réunion</option>
                    <option value="976">Mayotte</option>
                </select>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_hopitalQuery_city">Nom de Ville: </label>
                <input class="input-type-hopital" asp-for="input.hopitalQuery.city" id="input-name-city-hopital"/>
            </div>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-case-hopital">Nombre de cas minimal: </label>
                <input asp-for="input.hopitalQuery.caseNumber[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-case-hopital" onchange="document.getElementById('input-maximum-case-hopital').min=this.value; document.getElementById('input-maximum-case-hopital').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-case-hopital">Nombre de cas maximal: </label>
                <input asp-for="input.hopitalQuery.caseNumber[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-case-hopital"/>
            </div>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-total-beds-hopital">Nombre total minimal de lits: </label>
                <input asp-for="input.hopitalQuery.totalBeds[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-total-beds-hopital" onchange="document.getElementById('input-maximum-total-beds-hopital').min=this.value; document.getElementById('input-maximum-total-beds-hopital').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-total-beds-hopital">Nombre total maximal de lits: </label>
                <input asp-for="input.hopitalQuery.totalBeds[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-total-beds-hopital"/>
            </div>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-free-beds-hopital">Nombre minimal de lits libres: </label>
                <input asp-for="input.hopitalQuery.freeBeds[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-free-beds-hopital" onchange="document.getElementById('input-maximum-free-beds-hopital').min=this.value; document.getElementById('input-maximum-free-beds-hopital').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-free-beds-hopital">Nombre maximal de lits libres: </label>
                <input asp-for="input.hopitalQuery.freeBeds[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-free-beds-hopital"/>
            </div>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-total-intensive-beds-hopital">Nombre total minimal de lits en réanimation: </label>
                <input asp-for="input.hopitalQuery.totalIntensiveBeds[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-total-intensive-beds-hopital" onchange="document.getElementById('input-maximum-total-intensive-beds-hopital').min=this.value; document.getElementById('input-maximum-total-intensive-beds-hopital').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-total-intensive-beds-hopital">Nombre total maximal de lits en réanimation: </label>
                <input asp-for="input.hopitalQuery.totalIntensiveBeds[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-total-intensive-beds-hopital"/>
            </div>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-free-intensive-beds-hopital">Nombre minimal de lits en réanimation libres: </label>
                <input asp-for="input.hopitalQuery.freeIntensiveBeds[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-free-intensive-beds-hopital" onchange="document.getElementById('input-maximum-free-intensive-beds-hopital').min=this.value; document.getElementById('input-maximum-free-intensive-beds-hopital').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-free-intensive-beds-hopital">Nombre maximal de lits en réanimation libres: </label>
                <input asp-for="input.hopitalQuery.freeIntensiveBeds[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-free-intensive-beds-hopital"/>
            </div>
        </div>
    </div>




    <div id="criteria-localisation" class="extended-form" hidden>
        <p class="advanced-criterias">Critères avancés:</p>

        <div class="input-text">
            <div class="select-inf">
                <label class="partial-view-label" for="select-department-localisation">Recherche par Département: </label>
                <select asp-for="input.localisationQuery.department" name="select-department-localisation" id="select-department-localisation" class="select-partial-view"> 
                    <option disabled selected>Choisissez le département recherché: </option>
                    <option value="01">Ain</option>
                    <option value="02">Aisne</option>
                    <option value="03">Allier</option>
                    <option value="04">Alpes-de-Haute-Provence</option>
                    <option value="05">Hautes-Alpes</option>
                    <option value="06">Alpes-Maritimes</option>
                    <option value="07">Ardèche</option>
                    <option value="08">Ardennes</option>
                    <option value="09">Ariège</option>
                    <option value="10">Aube</option>
                    <option value="11">Aude</option>
                    <option value="12">Aveyron</option>
                    <option value="13">Bouches-du-Rhône</option>
                    <option value="14">Calvados</option>
                    <option value="15">Cantal</option>
                    <option value="16">Charente</option>
                    <option value="17">Charente-Maritime</option>
                    <option value="18">Cher</option>
                    <option value="19">Corrèze</option>
                    <option value="20">Corse</option>
                    <option value="21">Côte-d'Or</option>
                    <option value="22">Côtes d'Armor</option>
                    <option value="23">Creuse</option>
                    <option value="24">Dordogne</option>
                    <option value="25">Doubs</option>
                    <option value="26">Drôme</option>
                    <option value="27">Eure</option>
                    <option value="28">Eure-et-Loir</option>
                    <option value="29">Finistère</option>
                    <option value="30">Gard</option>
                    <option value="31">Haute-Garonne</option>
                    <option value="32">Gers</option>
                    <option value="33">Gironde</option>
                    <option value="34">Hérault</option>
                    <option value="35">Ille-et-Vilaine</option>
                    <option value="36">Indre</option>
                    <option value="37">Indre-et-Loire</option>
                    <option value="38">Isère</option>
                    <option value="39">Jura</option>
                    <option value="40">Landes</option>
                    <option value="41">Loir-et-Cher</option>
                    <option value="42">Loire</option>
                    <option value="43">Haute-Loire</option>
                    <option value="44">Loire-Atlantique</option>
                    <option value="45">Loiret</option>
                    <option value="46">Lot</option>
                    <option value="47">Lot-et-Garonne</option>
                    <option value="48">Lozère</option>
                    <option value="49">Maine-et-Loire</option>
                    <option value="50">Manche</option>
                    <option value="51">Marne</option>
                    <option value="52">Haute-Marne</option>
                    <option value="53">Mayenne</option>
                    <option value="54">Meurthe-et-Moselle</option>
                    <option value="55">Meuse</option>
                    <option value="56">Morbihan</option>
                    <option value="57">Moselle</option>
                    <option value="58">Nièvre</option>
                    <option value="59">Nord</option>
                    <option value="60">Oise</option>
                    <option value="61">Orne</option>
                    <option value="62">Pas-de-Calais</option>
                    <option value="63">Puy-de-Dôme</option>
                    <option value="64">Pyrénées-Atlantiques</option>
                    <option value="65">Hautes-Pyrénées</option>
                    <option value="66">Pyrénées-Orientales</option>
                    <option value="67">Bas-Rhin</option>
                    <option value="68">Haut-Rhin</option>
                    <option value="69">Rhône</option>
                    <option value="70">Haute-Saône</option>
                    <option value="71">Saône-et-Loire</option>
                    <option value="72">Sarthe</option>
                    <option value="73">Savoie</option>
                    <option value="74">Haute-Savoie</option>
                    <option value="75">Paris</option>
                    <option value="76">Seine-Maritime</option>
                    <option value="77">Seine-et-Marne</option>
                    <option value="78">Yvelines</option>
                    <option value="79">Deux-Sèvres</option>
                    <option value="80">Somme</option>
                    <option value="81">Tarn</option>
                    <option value="82">Tarn-et-Garonne</option>
                    <option value="83">Var</option>
                    <option value="84">Vaucluse</option>
                    <option value="85">Vendée</option>
                    <option value="86">Vienne</option>
                    <option value="87">Haute-Vienne</option>
                    <option value="88">Vosges</option>
                    <option value="89">Yonne</option>
                    <option value="90">Territoire de Belfort</option>
                    <option value="91">Essonne</option>
                    <option value="92">Hauts-de-Seine</option>
                    <option value="93">Seine-St-Denis</option>
                    <option value="94">Val-de-Marne</option>
                    <option value="95">Val-D'Oise</option>
                    <option value="971">Guadeloupe</option>
                    <option value="972">Martinique</option>
                    <option value="973">Guyane</option>
                    <option value="974">La Réunion</option>
                    <option value="976">Mayotte</option>
                </select>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_localisationQuery_city">Nom de Ville: </label>
                <input class="input-type-localisation" asp-for="input.localisationQuery.city" id="input-name-localisation"/>
            </div>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-localisation">Nombre de cas minimal: </label>
                <input asp-for="input.localisationQuery.caseNumber[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-localisation" onchange="document.getElementById('input-maximum-localisation').min=this.value; document.getElementById('input-maximum-localisation').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-localisation">Nombre de cas maximal: </label>
                <input asp-for="input.localisationQuery.caseNumber[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-localisation"/>
            </div>
        </div>
    </div>




    <div id="criteria-pathologie" class="extended-form" hidden>
        <p class="advanced-criterias">Critères avancés:</p>

        <div class="input-text">
            <label class="partial-view-label" for="input_pathologieQuery_pathologieType">Type de pathologie: </label>
            <input class="input-type-pathologie" asp-for="input.pathologieQuery.pathologieType" id="input-type-pathologie"/>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-pathologie">Nombre de cas minimal: </label>
                <input asp-for="input.pathologieQuery.caseNumber[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-pathologie" onchange="document.getElementById('input-maximum-pathologie').min=this.value; document.getElementById('input-maximum-pathologie').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-pathologie">Nombre de cas maximal: </label>
                <input asp-for="input.pathologieQuery.caseNumber[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-pathologie"/>
            </div>
        </div>
    </div>




    <div id="criteria-symptome" class="extended-form" hidden>
        <p class="advanced-criterias">Critères avancés:</p>

        <div class="input-text">
            <label class="partial-view-label" for="input_symptomeQuery_symptomeType">Type de symptome: </label>
            <input class="input-type-symptome" asp-for="input.symptomeQuery.symptomeType" id="input-type-symptome"/>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-symptome">Nombre de cas minimal: </label>
                <input asp-for="input.symptomeQuery.caseNumber[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-symptome" onchange="document.getElementById('input-maximum-symptome').min=this.value; document.getElementById('input-maximum-symptome').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-symptome">Nombre de cas maximal: </label>
                <input asp-for="input.symptomeQuery.caseNumber[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-symptome"/>
            </div>
        </div>
    </div>




    <div id="criteria-traitement" class="extended-form" hidden>
        <p class="advanced-criterias">Critères avancés:</p>

        <div class="input-text">
            <label class="partial-view-label" for="input_traitementQuery_traitementType">Type de traitement: </label>
            <input class="input-type-traitement" asp-for="input.traitementQuery.traitementType" id="input-type-traitement"/>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-traitement">Nombre de cas minimal: </label>
                <input asp-for="input.traitementQuery.caseNumber[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-traitement" onchange="document.getElementById('input-maximum-traitement').min=this.value; document.getElementById('input-maximum-traitement').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-traitement">Nombre de cas maximal: </label>
                <input asp-for="input.traitementQuery.caseNumber[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-traitement"/>
            </div>
        </div>
    </div>




    <div id="criteria-vaccin" class="extended-form" hidden>
        <p class="advanced-criterias">Critères avancés:</p>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_vaccinQuery_vaccinTypeManufacturer[0]">Type de vaccin: </label>
                <input class="input-type-vaccin" asp-for="input.vaccinQuery.vaccinTypeManufacturer[0]" id="input-type-vaccin"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_vaccinQuery_vaccinTypeManufacturer[1]">Fabricant du vaccin: </label>
                <input class="input-type-vaccin" asp-for="input.vaccinQuery.vaccinTypeManufacturer[1]" id="input-manufacturer-vaccin"/>
            </div>
        </div>

        <div class="input-text">
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_vaccinQuery_effetNameType[0]">Nom d'Effet Secondaire: </label>
                <input class="input-type-vaccin" asp-for="input.vaccinQuery.effetNameType[0]" id="input-name-effet-vaccin"/>
            </div>
            <div class="input-text-inf">
                <label class="partial-view-label" for="input_vaccinQuery_effetNameType[1]">Type d'Effet Secondaire: </label>
                <input class="input-type-vaccin" asp-for="input.vaccinQuery.effetNameType[1]" id="input-type-effet-vaccin"/>
            </div>
        </div>

        <div class="range-number">
            <div class="minimal-value">
                <label class="partial-view-label" for="input-minimum-vaccin">Nombre minimal de personnes vaccinées: </label>
                <input asp-for="input.vaccinQuery.vaccinatedNumber[0]" type="number" min="0" value="0" class="input-number" id="input-minimum-vaccin" onchange="document.getElementById('input-maximum-vaccin').min=this.value; document.getElementById('input-maximum-vaccin').value=this.value;"/>
            </div>
            <div class="maximal-value">
                <label class="partial-view-label" for="input-maximum-vaccin">Nombre maximal de personnes vaccinées: </label>
                <input asp-for="input.vaccinQuery.vaccinatedNumber[1]" type="number" min="0" value="0" class="input-number" id="input-maximum-vaccin"/>
            </div>
        </div>
    </div>
</body>