@page
@model QueryModel
@{
  ViewData["Title"] = "Requêtes Spécialisées";
}
<style>
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
    }

        input[type=text]:focus {
            width: 100%;
        }
</style>

<head>
  <link href="~/css/query.css" rel="stylesheet" />
</head>

<body>
  <h1>@ViewData["Title"]</h1>

<form>
    <select id="country" name="country">
        <option value="au">Australia</option>
        <option value="ca">Canada</option>
        <option value="usa">USA</option>
    </select>
    <select id="vile" name="ville">
        <option value="au">Australia</option>
        <option value="ca">Canada</option>
        <option value="usa">USA</option>
    </select>
    <select id="departement" name="departement">
        <option value="au">Australia</option>
        <option value="ca">Canada</option>
        <option value="usa">USA</option>
    </select>
    <select id="Date" name="Date">
        <option value="au">Australia</option>
        <option value="ca">Canada</option>
        <option value="usa">USA</option>
    </select>
    <input type="text" name="search" placeholder="Search..">
</form>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Place</th>
        <th scope="col">Info</th>
      </tr>
    </thead>
    <tbody>
      
      @{
        List<QueryModel.Result> result = new List<QueryModel.Result>();
        for (var i = 0; i < 10; i++) {
          var temp = new QueryModel.Result();
          temp.date = new DateTime();
          temp.place = QueryModel.RandomString(5);
          temp.info = QueryModel.RandomString(10);
          result.Add(temp);
        }
        foreach (var x in result) {
          <tr>
            <th scope="row">1</th>
            <td>@x.date</td>
            <td>@x.place</td>
            <td>@x.info</td>
          </tr>
        }
      }

    </tbody>
  </table>

</body>
