@page
@model QueryModel
@{
  ViewData["Title"] = "Requêtes Spécialisées";
}
<head>
    <link href="~/css/query.css" rel="stylesheet" />
    <script src="~/js/query.js"></script>
</head>

<body>
  <h1>@ViewData["Title"]</h1>

  <form>
      <select id="country" name="country">
          <option value="au">Australia</option>
          <option value="ca">Canada</option>
          <option value="usa">USA</option>
      </select>
      <select id="vile" name="ville">
          <option value="au">Australia</option>
          <option value="ca">Canada</option>
          <option value="usa">USA</option>
      </select>
      <select id="departement" name="departement">
          <option value="au">Australia</option>
          <option value="ca">Canada</option>
          <option value="usa">USA</option>
      </select>
      <select id="Date" name="Date">
          <option value="au">Australia</option>
          <option value="ca">Canada</option>
          <option value="usa">USA</option>
      </select>
      <button class="open-button" type="button" onclick="openForm()">More</button>
      <div id="More" class="form-container">
          <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
          <label for="vehicle1"> I have a bike</label><br>
          <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
          <label for="vehicle2"> I have a car</label><br>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </div>
      <input type="text" name="search" placeholder="Search..">
  </form>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Place</th>
        <th scope="col">Info</th>
      </tr>
    </thead>
    <tbody>
      
      @{
        List<QueryModel.Result> result = new List<QueryModel.Result>();
        for (var i = 0; i < 10; i++) {
          var temp = new QueryModel.Result();
          temp.date = new DateTime();
          temp.place = QueryModel.RandomString(5);
          temp.info = QueryModel.RandomString(10);
          result.Add(temp);
        }
        foreach (var x in result) {
          <tr>
            <th scope="row">1</th>
            <td>@x.date</td>
            <td>@x.place</td>
            <td>@x.info</td>
          </tr>
        }
      }

    </tbody>
  </table>

</body>
