@page
@model QueryModel
@{
  ViewData["Title"] = "Requêtes Spécialisées";
}
<head>

    <script src="~/js/query.js"></script>
    <link href="~/css/calendar.css" rel="stylesheet" />

</head>

<body>
    <h1>@ViewData["Title"]</h1>


    
    <form method="post">
        <div class="form-group">
            <input asp-for="Input.Name" class="form-control" placeholder="Rechercher un hopital"/>
            <span asp-validation-for="Input.Name" class="text-danger"></span>
        </div>
        <button type="submit" asp-page-handler="Submit" class="btn btn-primary">Recherche</button>
    </form>

    <table>
        <thead>

        </thead>
        <tbody>
             @Html.Raw(TempData["msg"])
        </tbody>
    </table>


    <button class="btn-success" onclick="exportTableToCSV('members.csv')">Export HTML Table To CSV File</button>


    <script src="~/js/calendar.js"></script>

    <script>
        var trigger = document.querySelector('#datePicker');
        var dateComponent = new DatePicker({
            el: document.querySelector('#calendar'),
            trigger: trigger,
            onchange: function (curr) {
                trigger.value = curr;
            }
        });

        trigger.onfocus = function () {
            dateComponent.show();
        };
    </script>

</body>
