@page
@model QueryModel
@{
    ViewData["Title"] = "Requêtes Spécialisées";
}

<h1>@ViewData["Title"]</h1>
<p>Page de requêtes après connexion à faire et à sécuriser.</p>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose filter</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Place</a>
      <a class="dropdown-item" href="#">Date</a>
    </div>
  </div>
  <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Place</th>
      <th scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>07/10/2020</td>
      <td>Toulon</td>
      <td>Idk</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>03/12/2020</td>
      <td>Paris</td>
      <td>Idk</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>09/01/2021</td>
      <td>Bordeaux</td>
      <td>Idk</td>
    </tr>
  </tbody>
</table>