@page
@model QueryModel
@{
  ViewData["Title"] = "Requêtes Spécialisées";
}

<head>
    <link href="~/css/query.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
</head>

<body>
    <h1>@ViewData["Title"]</h1>

    <div class="query-creator">
        <form class="query-form" method="post">
            <div class="form-group">
                <p class="main-criteria-text">Critère principal de recherche:</p>
                <div class="form-group-nowrap">
                    <label for="select-table" class="to-hide">Selectionner critère principal de recherche:</label>
                    <select asp-for="input.type" name="input.type" id="select-table" class="select-table" onchange="ChangeAdvancedCriteriaForm(this.value)"> 
                        <option disabled selected>Choisissez votre critère principal:</option>
                        <option value="Cas">Cas</option>
                        <option value="EffetsSecondaires">Effets Secondaires</option>
                        <option value="Historique">Historique</option>
                        <option value="Hopital" >Hopital</option>
                        <option value="Localisation">Localisation</option>
                        <option value="Pathologie">Pathologie</option>
                        <option value="Personne">Personne</option> <!-- Affichage correct du sexe à faire ici -->
                        <option value="Symptome">Symptome</option>
                        <option value="Traitement">Traitement</option>
                        <option value="Vaccin">Vaccin</option>
                    </select>

                    <label for="input_name" class="to-hide">Entrer le critère à rechercher:</label>
                    @Html.TextBoxFor(model => model.input.name, new { @class = "form-control", placeholder = new string("Entrez le nom à rechercher, ou laissez vide pour une recherche globale.") })  
                </div>
                
                <br/><span asp-validation-for="input.type" class="text-danger"></span>

            </div>

            <div id="partial-view" class="partial-view" >
                @{ await Html.RenderPartialAsync("PartialViewForm"); }
            </div>

            <div class="submit-group">
                <button type="button" class="btn btn-link" id="extend-criterias" onclick="ShowCriterias()">+  Plus de critères</button> 
                <button id="query-submit" type="submit" asp-page-handler="Submit" class="btn btn-primary">Recherche</button>
            </div>
        </form>
    </div>
    
    @{
        if (ViewData["ResultTable"] != null) {
            <hr class="separator">
        }
    }

    <div class="table-manager">
        <table name="results-table" id="results-table" class="table table-bordered table-striped">
            <thead>
                @Html.Raw(ViewData["ResultTableHead"])
            </thead>
            <tbody>
                @Html.Raw(ViewData["ResultTable"])
            </tbody> 
        </table>
    </div>

    <div class="button-download">
        @{
            if (ViewData["ResultTable"] != null) {
                <form method="post" asp-page="Query" asp-page-handler="DownloadFile">
                    <div>
                         <button id="csv-export" type="submit" class="btn-success">Exporter les résultats au format CSV</button>
                    </div>
                </form>
            }
        }
    </div>

    <script src="~/js/query.js"></script>

</body>
