@page
@model QueryModel
@{
  ViewData["Title"] = "Requêtes Spécialisées";
}
<head>
    <link href="~/css/query.css" rel="stylesheet" />
    <script src="~/js/query.js"></script>
</head>

<body>
  <h1>@ViewData["Title"]</h1>

  <form>
      <select id="country" name="country">
          <option value="fr">France</option>
          <option value="uk">Royaume-Unis</option>
          <option value="it">Italie</option>
      </select>
      <select id="Region" name="Region">
          <option value="idf">Ile-de-France</option>
          <option value="sud">Sud</option>
          <option value="ge">Grand Est</option>
      </select>
      <input type="date" id="detection" name="detection">
      <button class="open-button" type="button" onclick="openForm()">More</button>
      <div id="More" class="form-container">
          <label for="points">Age entre</label>
          <input type="number" id="age_start" name="agelow" step="1" max="100">
          <label for="points">et</label>
          <input type="number" id="age_end" name="ageup" step="1" max="100">
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </div>
      <input type="text" name="search" placeholder="Search..">
      <input type="submit">
  </form>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Place</th>
        <th scope="col">Info</th>
      </tr>
    </thead>
    <tbody>
      
      @{
        List<QueryModel.Result> result = new List<QueryModel.Result>();
        for (var i = 0; i < 10; i++) {
          var temp = new QueryModel.Result();
          temp.date = new DateTime();
          temp.place = QueryModel.RandomString(5);
          temp.info = QueryModel.RandomString(10);
          result.Add(temp);
        }
        foreach (var x in result) {
          <tr>
            <th scope="row">1</th>
            <td>@x.date</td>
            <td>@x.place</td>
            <td>@x.info</td>
          </tr>
        }
      }

    </tbody>
  </table>

</body>
