@page
@model covidipedia.front.src.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a class="btn btn-primary" asp-page="/Admin/Users/Index">Users</a>
}