@page
@model covidipedia.front.src.Pages.Admin.RoleDeleteModel
@{
    ViewData["Title"] = "Supprimer un rôle";
    Layout = "~/src/Pages/Shared/_Layout.cshtml";
}

<h1>Suppression de rôle</h1>

<h3>Êtes vous sûr de vouloir supprimer cet élément?</h3>
<div>
    <h4>@Model.RoleName</h4>

    <form class="" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-primary" asp-page="./Index">Annuler</a>
    </form>
</div>