@page
@model covidipedia.front.src.Pages.Admin.RoleModel
@using covidipedia.front.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@inject RoleManager<IdentityRole> _RoleManager
@{
    ViewData["Title"] = "Index";
}
<h1 class="card-title mb-0">All Roles</h1>
<br />
<a asp-page="RoleCreate" class="btn btn-sm btn-secondary">Create New</a>
<a asp-page="Index" class="btn btn-sm btn-secondary">Users</a>


<table class="table table-bordered table-striped">
    <tr><th>ID</th><th>Name</th><th>Update</th><th>Delete</th></tr>
    @foreach (var role in _RoleManager.Roles)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@role.Id" class="btn btn-sm btn-primary">Edit</a>
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@role.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>