.graph-selection {
    width: 100%;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.graph-title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%;
}

.checkboxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.graph-printing {
    padding-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#frame {
    padding-top: 2%;
}

.hide{
    display: none;
}