@page
@model Disable2faModel
@{
    ViewData["Title"] = "Désactiver la double authentification (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Cette action ne fait que désactiver la 2FA.</strong>
    </p>
    <p>
        Désactiver la 2FA ne change pas les clés de l'application d'authentification. Si vous voulez changer ces clés, <a asp-page="./ResetAuthenticator">réinitialisez les.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Désactiver la 2FA</button>
    </form>
</div>
