@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Données Personnelles";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Votre compte contient les données personnelles que vous nous avez fournis. Cetet page vous permet de les consulter et de les supprimer au besoin.</p>
        <p>
            <strong>La suppression de ces données entrainera la suppression de votre compte.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Télécharger</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Supprimer</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}