@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <iframe width="100%" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiNTMzMjZhZWMtYjg2OC00ZGQzLWFmYTYtYWQyNDU2YThiNzU3IiwidCI6Ijg5NzM0Mjg5LWEzY2YtNDA1Mi05MDIxLTE5NWE3YmJhNDk5MiIsImMiOjh9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>
