@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politique de Confidentialité";
}

<head>
    <link href="~/css/privacy.css" rel="stylesheet" />
</head>

<body>
    <h1>@ViewData["Title"]</h1>

    <p class="privacy-policies-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.</p>
    <div class="container">
        <div class=" text-center mt-5 ">
            <h1>Contact Us</h1>
        </div>
        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <form method="post" id="contact-form" role="form">
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="form_lastname">Firstname *</label>
                                                <input id="form_name" asp-for="FirstName" type="text" name="firstname"
                                                    class="form-control" placeholder="Please enter your name *"
                                                    required="required" data-error="First Name is required.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="form_lastname">Lastname *</label>
                                                <input id="form_lastname" asp-for="LastName" type="text" name="lastname"
                                                    class="form-control" placeholder="Please enter your lastname *"
                                                    required="required" data-error="Lastname is required.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="form_email">Email *</label>
                                                <input id="form_email" asp-for="Email" type="email" name="email"
                                                    class="form-control" placeholder="Please enter your email *"
                                                    required="required" data-error="Valid email is required.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="form_need">Please specify your
                                                    need*</label>
                                                <select asp-for="Need" id="form_need" name="need" class="form-control"
                                                    required="required" data-error="Please specify your need."
                                                    asp-items="Html.GetEnumSelectList<Need>()">
                                                    <option value="">Choose your need</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"> <label for="form_message">Message *</label>
                                                <textarea asp-for="Message" id="form_message" name="message"
                                                    class="form-control" placeholder="Write your message here." rows="4"
                                                    required="required"
                                                    data-error="Please, leave us a message."></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12"> <input type="submit"
                                                class="btn btn-success btn-send pt-2 btn-block " value="Send Message">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- /.8 -->
            </div> <!-- /.row-->
        </div>
    </div>

</body>
