@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politique de Confidentialité";
}

<head>
    <link href="~/css/privacy.css" rel="stylesheet" />
</head>

<body>
    <h1>@ViewData["Title"]</h1>

    <p class="privacy-policies-text">
        Les informations sur ce site peuvent contenir des inexactitudes ou des erreurs. Les informations peuvent être modifiées ou mises à jour sans préavis.
        Covidipedia utilise et donne accès uniquement à des données anonymes.
        Covidipedia peut aussi effectuer des changements et des améliorations sur le site et le contenu, à tout moment, sans préavis.
        Covidipedia ne peut en aucun cas être tenu responsable des erreurs potentielles sur le site.
        Toute confiance que vous accordez aux informations est donc strictement à vos propres risques.
        Votre adresse IP et la référence de la page visitée font partie des informations personnelles enregistrées sur le serveur qui héberge ce site.
        Ces données peuvent éventuellement servir à diagnostiquer un problème, mais elles ne seront jamais transmises à des tiers et elles sont supprimées automatiquement.
        Pour toute demande liée aux données personnelles, nous vous demandons de nous contacter par mail.
    </p>

    <div class="container">
        <div class=" text-center mt-5 ">
            <h1>Nous contacter</h1>
        </div>
        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-light">
                    <div class="card-body bg-light">
                        <div class="container">
                            <form method="post" id="contact-form" role="form">
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="form_lastname">Prénom *</label>
                                                <input id="form_name" asp-for="contact.firstName" type="text" name="firstname"
                                                    class="form-control" placeholder="Entrez votre prénom *"
                                                    required="required" data-error="Votre prénom est requis.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="form_lastname">Nom *</label>
                                                <input id="form_lastname" asp-for="contact.lastName" type="text" name="lastname"
                                                    class="form-control" placeholder="Entrez votre nom*"
                                                    required="required" data-error="Votre nom est requis.">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="form_email">Email *</label>
                                                <input id="form_email" asp-for="contact.email" type="email" name="email"
                                                    class="form-control" placeholder="Entrez votre email *"
                                                    required="required" data-error="Un email valide est requis.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group"> <label for="form_need">Notifiez votre besoin*</label>
                                                <select asp-for="contact.need" id="form_need" name="need" class="form-control"
                                                    required="required" data-error="Notifiez votre besoin"
                                                    asp-items="Html.GetEnumSelectList<Need>()">
                                                    <option value="" disabled selected>Notifiez votre besoin</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"> <label for="form_message">Message *</label>
                                                <textarea asp-for="contact.message" id="form_message" name="message"
                                                    class="form-control" placeholder="Ecrivez votre message ici." rows="4"
                                                    required="required"
                                                    data-error="S'il vous plaît, laissez nous un message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12"> <input type="submit"
                                                class="btn btn-success btn-send pt-2 btn-block " value="envoyez votre message">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- /.8 -->
            </div> <!-- /.row-->
        </div>
    </div>

</body>
