@page
@model RegisterModel
@{
    ViewData["Title"] = "Créer un compte";
}

<head>
    <link rel="stylesheet" href="~/css/register.css" type="text/css"/>
</head>

<body>
    <form class="needs-validation" novalidate>

        <div class="form-group">
            <label for="uname">Nom d'Utilisateur:</label>
            <input type="text" class="form-control" id="uname" placeholder="Entrez votre nom d'utilisateur" name="uname" required>
            <div class="invalid-feedback">Merci de remplir ce champ.</div>
        </div>

        <div class="form-group">
            <label for="pwd">Mot de Passe:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Entrez votre mot de passe" name="pswd" required>
            <div class="invalid-feedback">Merci de remplir ce champ.</div>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember" required> J'accepte les conditions de blablabla.
                <div class="invalid-feedback">Veuillez cocher cette case pour continuer.</div>
            </label>
        </div>

        <div class="submit-button">
            <button type="submit" class="btn btn-primary">Créer un compte</button> 
        </div>
        
    </form>

    <script src="~/js/register.js"></script>
</body>
