<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        @if (!User.IsInRole("Medical"))
        {
            <li class="nav-item">
                <p class="nav-link text-dark">Wait for the validation of your medical status</p>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Infos">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-page="/Account/Logout" method="post">
                <button type="submit" class="nav-link text-dark btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Account/Login">Log In</a>
        </li>
    }
</ul>