@using Microsoft.AspNetCore.Identity
@using covidipedia.front.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {   <li class="nav-item">
            <a class="nav-link text-dark">Bonjour @UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Votre Compte</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a id="logout" type="submit" class="nav-link text-dark">Se Déconnecter</a>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">S'enregistrer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Se Connecter</a>
        </li>
    }
</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/disconnect.js"></script>