@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Mot de passe réinitialisé";
}

<h1>@ViewData["Title"]</h1>
<p>
    Votre mot de passe a été réinitialisé. Merci de <a asp-page="./Login">vous connecter</a>.
</p>
