@page
@model covidipedia.front.src.Pages.Admin.Users.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/src/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AppUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AppUser.Id" />
            <div class="form-group">
                <label asp-for="AppUser.LoginName" class="control-label"></label>
                <input asp-for="AppUser.LoginName" class="form-control" />
                <span asp-validation-for="AppUser.LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.LoginNameUppercase" class="control-label"></label>
                <input asp-for="AppUser.LoginNameUppercase" class="form-control" />
                <span asp-validation-for="AppUser.LoginNameUppercase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppUser.PasswordHash" class="control-label"></label>
                <input asp-for="AppUser.PasswordHash" class="form-control" />
                <span asp-validation-for="AppUser.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
